/* ..................reset css............... */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	/* margin: 0; */
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ..................css.......... */

body
{
    margin:0;
}
.container
{
    padding: 0 4%;
    max-width: 89%;
    margin:0 auto;
}
header
{
    background-color:#0c4270;
    overflow:none;
    position:relative
}
.navigation
{
    border-bottom:1px solid #195080;
}
.top-bar
 {
     display:flex;
     justify-content:space-between;
     color:#df7c20;
     padding-top:7px;
 }
.top-bar-tel
 {
     list-style:none;
 }
.top-bar-tel a
 {
   
    text-decoration: none;
    color:#df7c20;
 }
.top-bar-phone
{
    padding-right:5px;
    font-size:16px;
}
.header-content
 {
     display:flex;
     align-items:center;
     justify-content: space-between;  
 }
.logo
{
    color:#df7c20;
    font-size: 32px;
}
span
{
    color:#b9ada2; 
    padding-right: 10px;
    font-size: 36px;
}
/* .header-content
{
    position:relative;
} */
.top-nav ul li a
{
    padding:30px 10px ;
    display:block;

}
/* .top-nav
{
    overflow: hidden;
} */

.top-nav ul
 {
     list-style: none;
     padding:0;
     margin:0;    
 }
.top-nav ul li
 {
     display:inline-block;
     margin-right: 22px;
 } 
.top-nav ul li a
 {
     text-decoration: none;
     color:white;
 }
 .link
 {
     text-transform: uppercase;
 }
  .dropdown
  {
      float:none;
      clear:both;
  }
  .dropbtn
  {
      border:none;
      background: inherit;
      color:white;
  }
  .dropbtn:hover
  {
      color:orange;
      background:white;
  }

  .dropdown-content
  {
      display:none;
      position:absolute;
      top:100%;
      left:0%;
      z-index:1;
    
  }
  /* .dropdown:hover
  {
      color:white;
  } */
  .dropdown-content a
  {
    display: block;
    padding-top: 19px;
    background: #df7351;
    width: 120%;
    text-align:start;
  }
  .dropdown-content a:hover
  {
      background: white;
      color:orange;
      
  }
  .fa-caret-down
  {
      padding-left:3px;
  }
  .dropdown:hover .dropdown-content 
  {
    display: block;
    background: white;
    color:orange;
  }

 /* .home
 {
     background-color: #ef801a;
     padding:32px;
      background-size: cover;
     background-attachment: fixed;     
 } */
 .header-content .menu-icon 
 {
    display:none;
}

/* .................section............ */
/* ..................banner........... */
.banner
{
    line-height:0;
}

 /* ....................eDUCATIONAL INSTITUTE.......... */
 .education
 {
      background:#ef801a;    
 }
.education-content
 {
     display:flex;
     justify-content: space-between;
     align-items:center;
     padding:40px 0;
     color:#fdecde;
 }
 .education-leftcol h2
 {
    font-size: 24px;
 }
 .education-leftcol p
 {
     padding:15px 0;
     line-height: 0.5cm;
 }
 .education-leftcol
 {
     width:80%;
}
 .education-rightcol
{
     width:10%
}
.education-btn
 {
    color:#fdecde;
    background:#ef801a;
    border:1px solid white;
    padding:10px;
} 

/* ..............menu-container............. */
.course-container
{
    padding:40px 0;
}
.course-content
{
    text-align:center;
}
.course-content h2
{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.course-content p
{
    padding: 20px 0 39px;
}
.course-main-bar
{
    display:flex;   
}
.course-center
{
    position: relative;
    border: 1px solid #ef801a;
    border-radius: 50%;
    padding: 24px 13px;
    margin: 9px 90px;
    top:22%;
    background:white;
}
.course-png
{
    display: flex;
    justify-content: center;
    font-size: 32px;
}
.course-main-bar
{
    background-color:#ef801a; 
    padding-bottom:5px;
}
/* .course-png
{
    border: 1px solid #ef801a;
    padding: 27px;
    border-radius: 50px;
    background:white;
    color:#ef801a;
    position:absolute;
    top: 0;
    left: 34%;
    font-size:32px;
} */
.course-vacation
{
    /* position:relative; */
    width:25%;
}
.course-vacation-content
{
border:1px solid #ef801a; 
padding:15px;
margin:65px 20px;
background: white;
}
.course-vacation-content h2
{
    color:#424242; 
    font-size:17px;
    text-align:center; 
    padding: 23px 0;
}

.course-vacation-content p
{
    color:#a4a4a4;
    text-align:center; 
}
/* ............our institute-------- */
.institute
{
    background: #0c4270;
    color:#ced9e2;
    margin-top:25px;
}
.institute-content
{
    text-align:center;
    padding: 0 18%;
    
}
.institute-content h2
{
    font-family:sans-serif;
    font-size:23px;
    font-weight:bold ;
}
.institute-content p
{
    padding: 25px 0px;
    line-height:0.5cm;
}
.institute-content-container
{
    padding:40px 0;
}
.institute-main
{
    display:flex;
    padding-bottom: 20px;
}
.institute-left-col
{
    width:50%;
}
.institute-left-col p
{
    line-height:0.5cm;
}
.institute-png-content
{
    padding: 28px 0;
}
ul li
{
    list-style:none;
    padding:0;
}
.institute-list
{
    padding:6px 1px;
}
.right-arrow
{
    border: 1px solid #ced9e2;
    padding: 4px 6px;
    border-radius: 36px;
    font-size: 13px;
    margin-right: 18px;
}
.button
{
    margin-top: 5px;
    padding: 16px;
    background: #c97628;
    color: white;
    border: none;
}
.institute-right-col
{
    width:50%
}
/* ....................date-container.................. */
.date-container
{
    background:#e3e3e3;
}
.article
{
    display:flex;  
    padding: 40px 0;
    width:100%;
}
.about-program , .about-news , .about-time
{
    width:33.33%;
}
.about-program h2 , .about-news h2 , .about-time h2
{
    color:#505050;
    font-size: 23px;
    padding: 20px 0;
}
.about-programmers
{
    color:#828282;
    line-height: 0.5cm;
    padding:2px;
    width:96%;
}
.about-news ul
{
    padding-inline-start: 0;
}
 .about-news ul li
{
    border:1px solid#cfcfcf;
    width:86%;
} 
.article-items
{
    color:#828282;
    margin-bottom:6px;
}
#article-text-item
{
    padding:13px 10px;
}
.article-top
{
    border-top:1px solid #cfcfcf;
}
.about-clock
{
    padding-right:5px;
}
.clock
{
    padding-right: 7px;
}
.about-music
{
    color:#5a5a5a;
    padding: 2px 0;
    font-size:20px;
}
.about-week
{
    color:#ed8d35;
    padding-top: 6px;
}
.about-hours
{
   color: #505050;
   padding-top:6px;
}
/* .....................footer................ */
footer
{
    background: #111523;
}
.footer-section
{
    display:flex;
    justify-content: space-between;
    padding:20px 0;
}
.footer-contacts h2, .footer-quick h2 ,.footer-posts h2, .footer-recent h2
{
    color:#c8c9cd;
    font-size: 17px;
    padding:17px 0;
}
.footer-contacts-section a
{
    text-decoration: none;
    color:#5e5f63;
    line-height: 0.6cm;
} 
.copyrights
{
    color:#c2c2c6;
} 
.footer-copyrights-content
 {
     display:flex;
     align-items:center;
     justify-content: space-between;  
 } 
.footer-copyrights-content p
{
    font-size:13px;
}
.footer-copyrights-content ul
 {
     list-style: none;
     padding:0;
     margin:0;
     
 }
.footer-copyrights-content ul li
 {
     display:inline-block;
     margin-right: 15px;
     
 } 
.footer-copyrights-content ul li a
 {
     text-decoration: none;
     color:white;
 }
.copyrights-square
{
    border: 1px solid #1e2027;
    padding: 5px;
}
/* ............................Media query............. */

@media screen and (max-width: 700px) 
{
    .top-nav ul , .dropdown , .dropbtn
    {
        display: none;
    }
    .topnav .menu-icon 
    {
    display:block;
    float:right;
    color:white;
    /* margin-right:30px; */
    }
    .home
    {
        background-color:none;
    }
  }
@media screen and (max-width: 700px) 
{
    /* .top-nav.responsive , .dropdown-content
    {
         position: relative; 
    } */
    .dropdown-content
    {
        position:static;
    }
    .dropdown-content a
    {
        width: 100%;
    }
    .top-nav.responsive a.menu-icon 
    {
      position: absolute;
      right: 0;
      top:0;
    }
     .top-nav.responsive ul, .dropdown, .dropbtn {
      float: none;
      display: block;
      /* text-align: left; */
      /* }   */
      
    /* .top-nav ul
    {
        display:block;
    } */
    /* .top-nav.responsive ul
    {
        float:none;
        display:block;
    }
    .top-nav ul li a
    {
    padding: 6px 5px;
    /* display: block; */
    /* }
    .top-nav
    {
    overflow: hidden; */ 
    }
    .top-nav.responsive ul
    {
        float:right;
        display:block;
    }

} 

@media screen and (max-width: 700px)
{   
    /* .container
    {
        padding-right: 0;
        padding-left: 15px;
        margin-right: 0;
        margin-left: auto;
    }
    .container
    {
        padding: 0 2%;
        max-width: 98%;
        margin: 0 auto;
    } */
    .container
    {
        padding:0;
        max-width:93%;
    }
    .logo
    {
        font-size: 16px;
    }  
    span
    {
        font-size:20px;
    }
    .top-bar-phone
    {
        font-size:8px;
    }
    .top-bar-tel
    {
        font-size:5px;
    }
    .top-bar p
    {
        font-size:8px;
    }
    /* .header-content
    {
       position:relative;
    } */
    .top-nav ul
    {
        position: absolute;
        z-index: 1;
        top: 100%;
        right: 0px;
        width: 180px;
        background: #df7c20;
    }
    .top-nav ul li
    {
        display:block;
        font-size:12px;
    }
    .top-nav
    {
       display:inline-block;
    }
    
    .top-nav ul li a
    {
     padding: 6px 5px;
     font-size:16px;
     display:block;
    }

} 
@media screen and (max-width: 1200px)
{
    .logo
    {
        font-size: 28px;
    }
    span
    {
        font-size:32px;
    }
  
    .top-nav ul li
    {
      margin-right: 11px;
    }
    .link
    {
       font-size:14px;
    }
    .top-bar-phone
    {
        font-size:14px;
    }
    .top-bar-tel
    {
        font-size:11px;
    }
}  
@media screen and (max-width: 992px)
{
    .top-bar p
    {
        font-size:9px;
    }
    .top-bar-phone
    {
        font-size:10px;
    }
    .top-bar-tel
    {
        font-size:9px;
    }
    .logo
    {
        font-size: 18px;
    }
    span
    {
        font-size:20px;
    }
    /* .top-nav ul li
    {
    margin-right: 5px;
    } */
    .link
    {
     font-size:10px;
    }
   
}
@media screen and (max-width: 800px)
{
    .top-bar p
    {
        font-size:7px;
    }
    .top-bar-phone
    {
        font-size:10px;
    }
    .top-bar-tel
    {
        font-size:7px;
    }
    .logo
    {
        font-size: 15px;
    }
    span
    {
        font-size:17px;
    }
    /* .top-nav ul li
    {
    margin-right: 4px;
    } */
    .link
    {
     font-size:9px;
    }    
}
@media screen and (max-width: 1200px)
{
    .carousel-caption h1
    {
        font-size:32px;
    }
}
@media screen and (max-width: 992px)
{
    .carousel-caption h1
    {
        font-size:28px;
    }
}
@media screen and (max-width: 800px)
{
    .carousel-caption h1
    {
        font-size:24px;
    }
}
@media screen and(max-width:700px)
{
    .carousel-caption h1
    {
        font-size:14px;
    }
}
@media screen and (max-width: 1200px)
{
    .education-content
    {
        display:flex;
    }
    .education-leftcol h2
    {
        font-size: 20px;
    }
    .education-leftcol p
    {
        font-size:16px;
        padding:12px 0;
        line-height: 0.5cm;
    }
    .education-leftcol
    {
        width:70%;
    }
    .education-rightcol
    {
        width:20%
    }
    .education-btn
    {
        padding:8px;
    }
}
@media screen and (max-width: 992px)
{
    .education-leftcol h2
    {
        font-size:18px;
    }
    .education-leftcol p
    {
        font-size:14px;
    }
}
@media screen and (max-width: 800px)
{
    .education-content
    {
        display:block;
    }
    .education-leftcol
    {
        width:100%;
    }
    .education-rightcol
    {
        width:100%;
    }
}
@media screen and (max-width:700px)
{
    .education-content
    {
        display:block;
        padding:15px 0;
    }
    .education-leftcol
    {
        width:100%;
    }
    .education-leftcol h2
    {
        font-size:16px;
    }
    .education-leftcol p
    {
        font-size:12px;
    }
    .education-rightcol
    {
        width:100%;
    }
}
@media screen and (max-width: 1250px)
{
    .course-vacation-content h2
    { 
        font-size:16px;
        padding: 13px 0     
    }
    .course-center
    {
    padding: 18px 13px;
    }
    .course-png
    {
        font-size: 28px;
    }

}
@media screen and (max-width: 1050px)
{
    .course-vacation-content
    {
        padding:13px;
        margin:65px 20px;
        background: white;
    }
    .course-vacation-content h2
    { 
        font-size:14px;     
        padding: 13px 0;
    }
    .course-center
    {
    padding: 18px 13px;
    }
    .course-png
    {
        font-size: 28px;
    }
    /*.course-png
    {
        padding: 22px;
        border-radius: 50px;
        top: 6%;
        left: 34%;
        font-size:26px;
    } */
    .course-vacation-content p
    {
        font-size:13px;
    }
    .course-center
    {
    padding: 18px 13px;
    }
    .course-png
    {
        font-size: 28px;
    }   
}
@media screen and (max-width: 800px)
    {
    .course-main-bar
    {
        display:flex;
        flex-wrap:wrap;
    }  
    .course-vacation
    {
        width:50%;
    }
    /* .course-png
    {
        top:5%;
        left:39%;
    } */
    .course-center
    {
    padding: 18px 13px;
    margin: 10px 117px;
    }
    .course-png
    {
        font-size: 28px;
    }
    .course-vacation-content
    {
        margin:65px 37px;
    }
    .course-vacation-content h2
    {
        font-size: 19px;
        padding: 15px 0;
    }
}
/* @media screen and (max-width:600px)
{
    .course-container
    {
        padding:15px 0;
    }
    .course-main-bar
    {
        display:block;
    }
    .course-vacation
    {
        width:100%;
    } 
    .course-center
    {

    } */
    /* .course-png
    {
        top:-34%;
        left:38%;
    } */
/* } */
@media screen and (max-width: 800px)
 {
    .institute-main
    {
        display:block;
        width:100%;
    }
    .institute-left-col
    {
        width:100%;
    }
    .institute-right-col
    {
        width:100%;
        margin-top:5px;
    }
 } 
 @media screen and (max-width: 700px)
 {
     .institute-content
     {
         padding:0 5%;
     }
     .institute-content-container
     {
         padding:15px 0;
     }
    .institute-main
    {
        display:block;
        width:100%;
    }
    .institute-left-col
    {
        width:100%;
    }
    .institute-right-col
    {
        width:100%;
        margin-top:5px;
    }
    .institute-png-content
    {
        padding:15px 0;
    }
}
@media screen and (max-width: 992px)
    {
    .article
    {
        display:block;
        width:100%;
    } 
    .about-program , .about-news , .about-time
    {
        width:100%;
    }
    .about-news ul li
    {
        width:100%;
    }
}   
@media screen and (max-width: 800px)
    {
    .article
    {
        display:block;
        width:100%;
    } 
    .about-program , .about-news , .about-time
    {
        width:100%;
        font-size:12px;
    }
    .about-news ul li
    {
        width:100%;
    }
    .button
    {
        margin-top:-10px;
    }
    .institute-right-col
    {
        margin-top:23px;
    }
}
@media screen and (max-width:700px)
{
    .article
    {
        display:block;
        width:100%;
        padding:15px 0;
    } 
    .about-program , .about-news , .about-time
    {
        width:100%;
    }
    .about-program h2 , .about-news h2 , .about-time h2
    {
        padding:8px 0;
    }
    .about-news ul li
    {
        width:100%;
    }
    .button
    {
        margin-top:-10px;
    }
    .institute-right-col
    {
        margin-top:23px;
    }
}
@media screen and (max-width: 992px)
{ 
    .footer-section
    {
        display:flex;
        flex-wrap:wrap;
    }
    .footer-quick , .footer-contacts, .footer-posts , .footer-recent
    {
        width:50%;
    }
    .footer-copyrights-content
    {
        display:block;
    }   
}
@media screen and (max-width: 800px)
{ 
    .footer-section
    {
        display:flex;
        flex-wrap:wrap;
    }
    .footer-quick , .footer-contacts, .footer-posts , .footer-recent
    {
        width:50%;
    }
    .footer-copyrights-content
    {
        display:block;
    }    
}
@media screen and (max-width:700px)
{
    .footer-section
    {
        display:block;
        padding:15px 0;
    }
    .footer-contacts h2, .footer-quick h2 ,.footer-posts h2, .footer-recent h2
    {
        padding:8px 0;
    }
    .footer-copyrights-content
    {
        display:block;
    }
    .footer-copyrights-content
    {
        display:block;
    } 
    .footer-copyrights-content p
    {
        font-size:10px;
    }
    .copyrights-square
    {
        padding:3px;
    } 
   .copyrights-icons
   {
       font-size:10px;
   } 
}
@media screen and (max-width:600px)
{
    .course-center
    {
        position: relative;
        border: 1px solid #ef801a;
        border-radius: 50%;
        padding: 24px 13px;
        margin: 9px 90px;
        top:22%;
        background:white;
    }
    .course-png
    {
        display: flex;
        justify-content: center;
        font-size: 32px;
        flex-wrap:wrap;
    }
    .course-vacation-content
    {
        margin:65px 37px;
    }
    .course-vacation-content h2
    {
        font-size: 19px;
        padding: 15px 0;
    }
}
}